<% if @provider && @provider.errors.any? %>
  <%= render partial: "base/message_error", locals: {
        message: "No se puede guardar el proveedor debido a los siguientes errores:", model: @provider
  } %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="pull-left">
      <h3>Proveedores</h3> 
    </div>
    <div class="pull-right">
      <%= link_to "Crear Proveedor", new_provider_url, class: "btn btn-primary btn-md" %>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <theader>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>RUT</th>
      <th>Nickname</th>
      <th>Teléfono</th>
      <th>Correo Electrónico</th>
      <th>Página Web</th>
      <th>Área servicio</th>
      <th></th>
    </theader>
    <tbody>
      <% @providers.each do |provider| %>
        <tr id="provider_<%= provider.id.to_s %>">
          <%= render partial: "provider", locals: { f: provider } %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-md-12">
    <%= paginate @providers %>
  </div>
</div>
<div class="col-md-6 col-md-offset-3">
  <%#= link_to "Volver", root_url, class: "btn btn-primary btn-md center-block" %>
</div>