<%= form_for :contact, url:  contacts_url, method: :post do |f| %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :contact_number %>
    <%= f.telephone_field :contact_number, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :store_name %>
    <%= f.text_field :store_name, class: "form-control" %>
  </div>
  <%= f.submit "Enviar", class: "btn btn-primary" %>
  <%= link_to 'Volver', root_url, class: "btn btn-default" %>
<% end %>