<%= form_for :product, method: method, url: url do |f| %>
  <%= f.hidden_field :Store_id, value: current_user.id %>
  <div class="col-md-6">
    <div class="form-group col-xs-12">
      <%= f.label :Name, "Nombre del producto" %>
      <%= f.text_field :Name, class: 'form-control form-control-sm', required: true %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label :Description, "Descripción del producto" %>
      <%= f.text_area :Description, class: 'form-control form-control-sm', min: 100, max: 1000, required: true %>
    </div>
    <!-- <div class="form-group col-xs-12 col-md-6">
      <%#= f.label :price, "Precio de venta" %>
      <%#= f.number_field :price, class: 'form-control form-control-sm', min: 0, max: 99999, required: true %>
    </div> -->
    <div class="form-group col-xs-12">
      <%= f.label :Category, "Seleccione la categoría" %>
      <%= f.collection_select :Category_id, Category.all.order(Category_id: :asc), :Category_id, :Name, {}, class: "form-control" %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label :Image, "Imagen del producto" %>
      <%= f.file_field :Image, class: 'form-control form-control-sm'%>
    </div>
    <div class="actions col-xs-12">
      <%= f.submit 'Crear', class: 'btn btn-primary btn-md' %>
      <%= link_to 'Volver', product_index_url, class: 'btn btn-default btn-md' %>
    </div>
  </div>
<% end %>