<%= form_for :product, method: method, url: url do |f| %>
  <div class="col-md-6">
    <div class="form-group col-xs-12">
      <%= f.label :name, "Nombre del producto" %>
      <%= f.text_field :name, class: 'form-control form-control-sm', required: true %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label :description, "Descripción del producto" %>
      <%= f.text_area :description, class: 'form-control form-control-sm', min: 100, max: 1000, required: true %>
    </div>
    <!-- <div class="form-group col-xs-12 col-md-6">
      <%#= f.label :price, "Precio de venta" %>
      <%#= f.number_field :price, class: 'form-control form-control-sm', min: 0, max: 99999, required: true %>
    </div> -->
    <div class="form-group col-xs-12">
      <%= f.label :category_id, "Seleccione la categoría" %>
      <%= f.collection_select :category_id, Category.all.order(id: :asc), :id, :name, {}, class: "form-control" %>
    </div>
    <div class="form-group col-xs-12">
      <%= f.label :file_in_server, "Imagen del producto" %>
      <%= f.file_field :file_in_server, class: 'form-control form-control-sm'%>
    </div>
    <div class="actions col-xs-12">
      <%= f.submit 'Crear', class: 'btn btn-primary btn-md' %>
      <%= link_to 'Volver', product_index_url, class: 'btn btn-default btn-md' %>
    </div>
  </div>
<% end %>