<div class="col-sm-6 col-md-4" id="<%= product.Product_id.to_s %>">
  <% unless product.File_in_server == nil %>
    <div class="thumbnail">
      <%= image_tag(product.try(:File_in_server), height: 100, width: 100) %>
      <div class="caption">
        <h3><%= product.Name[0..50] %></h3>
        <p><%= product.Description[0..100] %></p>
        <p>
          <%= link_to "Editar", edit_product_url(product) %>
          <%= link_to "Eliminar", product_url(product), data: { confirm: "Está seguro?" }, method: :delete %>
        </p>
      </div><!-- caption -->
    </div><!-- thumbnail -->
  <% else %>
    <span>Producto Sin imagen</span>
    <div class="caption">
      <h3><%= product.Name[0..50] %></h3>
      <p><%= product.Description[0..100] %></p>
      <p>
        <%= link_to "Editar", edit_product_url(product) %>
        <%= link_to "Eliminar", product_url(product), data: { confirm: "Está seguro?" }, method: :delete %>
      </p>
    </div>
  </div>
  <% end %>
</div>