<% if @product && @product.errors.any? %>
  <%= render partial: "base/message_error", locals: {
        message: "No se puede guardar el producto debido a los siguientes errores:", model: @product
  } %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="pull-left">
      <h3>Productos (<%= @products.count.to_s %>)</h3> 
    </div>
    <div class="pull-right">
      <%= link_to url_for(params.except(:action, :controller, :page).permit!.merge(format: :xlsx)), class: "btn btn-success btn-md" do %>
        <%= fa_icon "file-excel-o" %> Exportar
      <% end %>
      <%= link_to "Crear Producto",  new_store_product_url(current_user.store.store_id), class: "btn btn-primary btn-md" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <%= render partial: 'products', locals: {products: @products} %>
  </div>
</div>
<div class="col-md-6 col-md-offset-3 align-center">
  <%#= paginate @products %>
</div>