<p id="notice"><%= notice %></p>

<section class="login">
  <h1 class="align-center wt">Iniciar Sesi칩n</h1>
  <span>
    <p class="align-center wt">Bienvenid@ a KRT-Driver!</p>
  </span>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="form-group col-xs-12 col-md-6 col-md-offset-3">
        <%= f.label :email, class: "wt", value: "Correo electr칩nico" %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group col-xs-12 col-md-6 col-md-offset-3">
        <%= f.label :password, class: "wt", value: "Contrase침a" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <div class="input-group">
            <%= f.check_box :remember_me%>
            <%= f.label :remember_me, class: "wt", value: "No cerrar sesi칩n" %>
          </div>
        </div>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Enviar", class: "btn btn-default btn-lg center-block", data: { disable_with: "Enviando..." } %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
