<%= form_for :provider, method: method, url: url do |f| %>

Provider.create(
    store_id: Store.all.sample,
    address_id: Address.all.sample,
    email: Faker::Internet.email,
    vehicle_id: Vehicle.all.sample,
    segment_id: Segment.all.sample,
    password: "provider123",
    bank_account_id: BankAccount.all.sample
  )
  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :first_name, "Nombre" %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :last_name, "Apellido" %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :rut, "RUT" %>
    <%= f.text_field :rut, class: "form-control" %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :store_id, "Tienda" %>
    <%= f.collection_select(:store_id, :store, Store.all, :id, :name, class: "form-control") %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :contact_number, "Teléfono de contacto" %>
    <%= f.text_field :contact_number, class: "form-control" %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :email, "Correo Electrónico" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :web, "Sitio Web" %>
    <%= f.text_field :web, class: "form-control" %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :sector, "Sector de distribución" %>
    <%= f.text_field :sector, class: "form-control" %>
  </div>
  <div class="col-xs-12 col-md-12">
    <%= f.submit "Enviar", class: "btn btn-primary" %>
    <%= link_to "Volver", drivers_url, class: "btn btn-default" %>
  </div>
<% end %>