<%= form_for :provider, method: method, url: url do |f| %>

  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :first_name, "Nombre" %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :last_name, "Apellido" %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :rut, "RUT" %>
    <%= f.text_field :rut, class: "form-control" %>
  </div>
  <!-- <div class="form-group col-xs-12 col-md-6">
    <%#= f.label :store_id, "Tienda" %> valor automatico
    <%#= f.collection_select(:store_id, :store, Store.all, :id, :name, class: "form-control") %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%#= f.label :contact_number, "Teléfono de contacto" %>
    <%#= f.text_field :contact_number, class: "form-control" %>
  </div> -->
  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :email, "Correo Electrónico" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :web, "Sitio Web" %>
    <%= f.text_field :web, class: "form-control" %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%= f.label :sector, "Sector de distribución" %>
    <%= f.text_field :sector, class: "form-control" %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%= f.text :password, "Contraseña" %>
    <%= f.password_field :password, class: 'form-control', required: true %>
  </div>
  <div class="form-group col-xs-12 col-md-6">
    <%= f.text :password_confirmation, "Contraseña" %>
    <%= f.password_field :password_confirmation, class: 'form-control', required: true %>
  </div>
  <!-- FORMULARIO VEHICULO Y MARCA -->
  <!-- MODELO -->
  <!-- MARCA -->
  <!-- PATENTE -->
  <!-- COLOR -->
  <div class="col-xs-12 col-md-12">
    <%= f.submit "Enviar", class: "btn btn-primary" %>
    <%= link_to "Volver", drivers_url, class: "btn btn-default" %>
  </div>
<% end %>