<td><%= f.first_name.capitalize %></td>
<td><%= f.last_name.capitalize %></td>
<td><%= rut_formatter(f.rut) %></td>
<td><%= f.email %></td>
<td><%= f.vehicle.licence_plate.upcase %></td>
<td><%= f.vehicle.vehicle_brand.name %></td>

<td class="table-actions">
  <%= link_to "Editar", edit_store_provider_url(current_user.store, f) %>
  <%= link_to "Eliminar", store_provider_url(current_user.store, f), method: :delete, data: { confirm: "¿Está seguro?" } %>
</td>