<div class="row">
  <div class="col-xs-12 col-md-12">
    <span id="notice"><%= notice %></span>
    <span id="alert"><%= alert %></span>
    <h3>Editar Tienda - <%= @store.name.capitalize %></h3>
  </div>
</div>
<% if @store && @store.errors.any? %>
    <%= render partial: "base/message_error",
    locals: { message: "No se puede guardar la tienda debido a los siguientes errores:",
    model: @store } %>
<% end %>
<%= render partial: "form", locals: { url: store_url, method: :put} %>