<% if @store && @store.errors.any? %>
  <%= render partial: "base/message_error", 
  locals: { 
    message: "No se puede crear la tienda debido a los siguientes errores:",
    model: @store 
  } 
  %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="pull-left">
      <h3>Tiendas</h3> 
    </div>
    <div class="pull-right">
      <%= link_to "Crear Tienda", new_store_url, class: "btn btn-primary btn-md" %>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <theader>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Descripción</th>
      <th></th>
      <th></th>
    </theader>
    <tbody>
      <% @stores.each do |store| %>
        <tr id="store_<%= store.Store_id.to_s %>">
          <%= render partial: "store", locals: { f: store } %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-md-12">
    <%= paginate @stores %>
  </div>
</div>