<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to root_url do %>
          <%= fa_stacked_icon "home", base: "square-o", text: "KRT DRIVER" %>
        <% end %>
      </li>
      <li role="presentation">
        <%= link_to drivers_url do %>
          <%= fa_stacked_icon "car", base: "square-o", text: "Conductores" %>
        <% end %>
      </li>
      <li role="presentation">
        <%= link_to products_url do %>
          <%= fa_stacked_icon "beer", base: "square-o", text: "Productos" %>
        <% end %>
      </li>
      <li role="presentation">
        <%= link_to stores_url do %>
          <%= fa_stacked_icon "home", base: "square-o", text: "Tiendas" %>
        <% end %>
      </li>
      <li role="presentation">
        <%= link_to orders_path do %>
          <%= fa_stacked_icon "shopping-cart fw", base: "square-o", text: "Compras" %>
        <% end %>
      </li>
      <li role="presentation" class="pull-right">
        <% unless user_signed_in? %>
          <%= link_to 'Iniciar Sesión', new_user_session_url, class: "btn btn-default navbar-btn" %>
        <% else %>
          <%= link_to destroy_user_session_url, method: :delete do %>
            <%= fa_stacked_icon "user", base: "square-o", text: current_user.email.truncate(10).to_s + " (Cerrar Sesión)" %>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>