<!DOCTYPE html>
<html>
  <head>
    <title>KRT-DRIVER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% Rails.logger.info "CURRENT_USER_DATA: " + current_user.inspect + "***************************"%>
    <%= render partial: "layouts/navbar" %>
    <div class="container-fluid">
      <section>
        <div class="row">
          <div class="col-md-12">
            <%= yield %>
          </div>
        </div>
      </section>
    </div>
    <!-- <section class="footer navbar-fixed-bottom">
      <%#= render partial: 'layouts/footer' %>
    </section> -->
  </body>
</html>

<%= javascript_tag do %>
  <% if flash[:success].present? %>
    <% Rails.logger.info "SUCCESS!!! **********************" %>
    Message.success("<%= flash[:success] %>")
  <% end %>
  <% if flash[:error].present? %>
    <% Rails.logger.info "ERROR!!! **********************" %>
    Message.error("<%= flash[:error] %>")
  <% end %>
  <% if flash[:alert].present? %>
    <% Rails.logger.info "ALERT!!! **********************" %>
    Message.error("<%= flash[:alert] %>")
  <% end %>
<% end %>